.question-container {
    padding: 10px;
    font-size: 12pt;
}
.question {
    font-weight: bold;
    font-size: 14pt;
}
#questionsetup input[type=text] {
    width: 200px;
}
input[name=new-survey-name] {
    width: 300px;
}
#survey-registration {
    float:left;
}
#survey-login {
    float:right;
}